.navbar {
    width: 100%;
    height: 6rem;
    padding: 0 2rem;
    border: 0;
    border-bottom: 0.1rem solid var(--heading-color);
    justify-content: space-between;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 3rem;
    color: var(--heading-color);
    font-family: 'Caveat', cursive;
}

.menu {
    width: 50%;
    justify-content: space-around;
}

.menu-item {
    list-style: none;
    overflow: hidden;
}

.menu-link {
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--text-color);
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    position: relative;
}

.menu-link::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--heading-color);
    bottom: 0;
    left: -55%;
    transition: all 0.3s ease-in-out;
}

.menu-link:hover {
    color: var(--heading-color);
}

.menu-link:hover::before {
    left: 0;
}

.active {
    color: var(--heading-color);
}

.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--heading-color);
    bottom: 0;
    left: -55%;
    transition: all 0.3s ease-in-out;
}



.ham-burger {
    display: none;
}



.ham-burger .icon {
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    color: var(--heading-color);
}

@media only screen and (max-width: 620px) {

    .navbar {
        width: 100%;
    }

    .menu {
        position: absolute;
        width: 100%;
        top: 6rem;
        left: -100%;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--main-bg-color);
        padding: 2rem 0;
        transition: all 0.5s ease-in-out;
    }
    
    .open {
        transition: all 0.5s ease-in-out;
        left: 0;
    }

    .ham-burger {
        display: block;
    }
}